:root {
    --primary-bg-color: #FFF3E3;
    --second-bg-color: #F4F5F7;
    --alte-bg-color:#FFFFFFB8;
    --primary-color: #B88E2F;
    --discount-clolor: #E97171;
    --new-colour: #2EC1AC;
    --blur-text-product:#898989;
    --blur-price-product:#B0B0B0;
    --blur-text-colour: #9F9F9F;
    --slide-inspiration-off: #D8D8D8;
    --product-bg-hover: rgba(58, 58, 58, 0.72);
;


}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0;
    gap: 1rem;
    position: fixed;
    z-index: 5;
    background-color: white;
    width: 100%;
}

img {
    width: 100%;
}

.logoAtas {
    display: flex;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
}

.navLinks {
    display: flex;
    gap: 0.5rem;
    justify-content: space-around;
}

.navIcons {
    display: flex;
    justify-content: space-around;
}

.navIcons img {
    width: 1.5rem;
    height: 1.5rem;
}

.navDeco {
    color: black;
    text-decoration: none;
}

.banner {
    width: 100%;
    position: relative;
}

.moto {
    background-color: var(--primary-bg-color);
    width: 40%;
    padding: 3%;
    position: absolute;
    right: 5%;
    top: 25%;
    border-radius: 2%;
}

.discover {
    color: var(--primary-color);
    font-weight: bold;
    margin: 0;
    
}

.paragraf {
    margin: 10% 0;
}

#buyNow {
    padding: 1rem;
    width: 9rem;
    font-weight: bold;
    text-align: center;
    background: var(--primary-color);
}

.button {
    color: white;
    text-decoration: none;
    display: flex;
    width: max-content;
}

.browse {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0;
}

.theRange {
    margin: 0;
    font-weight: bold;
}

.pBrowse {
    margin: 0;
    font-weight: lighter;
    color: #666666;
}

.imgBrowseCard {
    display: flex;
    justify-content: center;
    margin: 2% 0;
    width: 100%;
}

.imgBrowse {
    width: 25%;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    gap: 20px;
}

.imageBrowse {
    border-radius: 5%;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4%;
}

.productCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    background-color: var(--second-bg-color);
    width: 20%;
    position: relative;
    transition: width 1s;
}

.discount {
    background-color: var(--discount-clolor);
    color: white;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new {
    background-color: var(--new-colour);
    color: white;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productsName {
    font-weight: bold;
    margin: 5%;
}

.blurTextProduct {
    color: var(--blur-text-product);
    margin: 5%;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
}

.priceFix {
    font-size: large;
    font-weight: bold;
}

.priceNormal {
    color: var(--blur-price-product);
    text-decoration: line-through;
    font-size: small;
}

.productHover {
    background-color: var(--product-bg-hover);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.card:hover .productHover {
    display: flex;
}

.addToCart a {
    color: var(--primary-color);
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem 2rem;
}

.divSCL {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.SCL a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.SCL img {
    width: 1rem;
    height: 1rem;
}

#showMore {
    text-decoration: none;
    width: 20%;
    padding: 2%
}

.button2 {
    color: var(--primary-color);
    text-align: center;
    border: solid 1px var(--primary-color);
    font-weight: bold;
    padding: 5% 0;
}

#eksplorNow {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem 1.5rem;
    font-weight: bold;
}

.roomInspiration {
    background-color: var(--primary-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    padding: 2rem;
    position: relative;
}

.textInspiration {
    width: 25rem;
}

.inspiration50 {
    font-weight: bold;
}

.ourDesain {
    color: var(--blur-text-product);
}

.roomCard {
    position: relative;
    width: 25rem;
}

.roomLabel {
    display: flex;
    align-items: end;
    width: max-content;
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
}

.roomName {
    background-color: var(--alte-bg-color);
    padding: 1rem;
    width: 8.5rem;
}

.nameRoom {
    color: var(--blur-text-colour);
    margin: 0;
}

.nameRoomPleace {
    font-size: x-large;
    font-weight: bold;
    margin: 0;
}

.roomArrow {
    background-color: var(--primary-color);
    display: flex;
    width: 2rem;
}

.roomArrow div {
    width: 2rem;
    height: 2rem;
}

.imgInspiration {
    display: flex;
    flex-direction: column;
    width: 25rem
}

.slideContainer {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    align-items: center;
}

.slideInspiration {
    background-color: var(--slide-inspiration-off);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
}

.slideOn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    border: solid 2px var(--primary-color);
}

.slideOn div {
    background-color: var(--primary-color);
}

.objectCoverInspiration img {
    width: auto;
    object-fit: cover;
}

.imageSlide {
    /* position: absolute; */
    width: 2rem;
    height: 2rem;
}

.imageSlide img {
    object-fit: cover;
    width: 10rem;
}

img.Re26 {
    object-fit: cover;
    width: 5rem;
    height: 21rem;
    margin: 0 0 3rem;
}

.slideButton {
    width: max-content;
    background-color: white;
    margin: 0;
    padding: 0;
    border-radius: 100%;
    position: absolute;
    right: 3rem;
}

.slideButton a {
    text-decoration: none;
    color: var(--primary-color);
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin: 2% 3%;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 2% 0;
}

.footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.footerFurniroText {
    font-weight: bold;
}

.footerMargin {
    margin: 0 0 1rem 0;
}

.blurTextFooter {
    color: var(--blur-text-colour);
}

.footerFurniro {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.formFooter {
    display: flex;
    gap: 1px;
}

.formFooter input {
    border: none;
    padding: 0;
}

.underline {
    padding: 0.05rem;
    background-color: black;
}


/* Shop CSS */
.shopHero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopHero img {
    height: 20rem;
    object-fit: cover;;
    filter: blur(2px);
}

.shopLabel {
    position: absolute;
    justify-items: center;
}

.shopFilter {
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.shopFilterLeft {
    display: flex;
}

.filterIcons {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

.filterIcons img {
    width: 1rem;
    height: 1rem;
}

.filterIcons p {
    margin: 0 1rem 0 0;
}

.filterProduct {
    margin: 0 0 0 1rem;
}

.shopProductsRight {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.shopProductsRight div {
    color: var(--blur-text-product);
    background-color: white;
    padding: 1rem;
}

.sortOptions {
    width: 7rem;
}