:root {
    --primary-bg-color: #FFF3E3;
    --second-bg-color: #F4F5F7;
    --alte-bg-color:#FFFFFFB8;
    --primary-color: #B88E2F;
    --discount-clolor: #E97171;
    --new-colour: #2EC1AC;
    --blur-text-product:#898989;
    --blur-price-product:#B0B0B0;
    --blur-text-colour: #9F9F9F;
}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
}

img {
    width: 100%;
}

.logoAtas {
    display: flex;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
}

.navLinks {
    display: flex;
    width: 20%;
    justify-content: space-around;
}

.navIcons {
    display: flex;
    justify-content: space-around;
}

.navDeco {
    color: black;
    text-decoration: none;
}

.banner {
    width: 100%;
    position: relative;
}

.moto {
    background-color: var(--primary-bg-color);
    width: 40%;
    padding: 3%;
    position: absolute;
    right: 5%;
    top: 25%;
    border-radius: 2%;
}

.discover {
    color: var(--primary-color);
    font-weight: bold;
    margin: 0;
    
}

.paragraf {
    margin: 10% 0;
}

#buyNow {
    padding: 3% 5%;
    width: 30%;
    font-weight: bold;
    text-align: center;
    background: var(--primary-color);
}

.button {
    color: white;
    text-decoration: none;
}

.browse {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0;
}

.theRange {
    margin: 0;
    font-weight: bold;
}

.pBrowse {
    margin: 0;
    font-weight: lighter;
    color: #666666;
}

.imgBrowseCard {
    display: flex;
    justify-content: center;
    margin: 2% 0;
    width: 100%;
}

.imgBrowse {
    width: 25%;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    gap: 20px;
}

.imageBrowse {
    border-radius: 5%;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4%;
}

.productCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    background-color: var(--second-bg-color);
    width: 20%;
    position: relative;
}

.discount {
    background-color: var(--discount-clolor);
    color: white;
    width: 20%;
    padding: 6% 0;
    text-align: center;
    position: absolute;
    top: 5%;
    right: 5%;
    border-radius: 50%;
}

.new {
    background-color: var(--new-colour);
    color: white;
    width: 20%;
    padding: 6% 0;
    text-align: center;
    position: absolute;
    top: 5%;
    right: 5%;
    border-radius: 50%;
}

.productsName {
    font-weight: bold;
    margin: 5%;
}

.blurTextProduct {
    color: var(--blur-text-product);
    margin: 5%;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
}

.priceFix {
    font-size: large;
    font-weight: bold;
}

.priceNormal {
    color: var(--blur-price-product);
    text-decoration: line-through;
    font-size: small;
}

#showMore {
    text-decoration: none;
    width: 20%;
    padding: 2%
}

.button2 {
    color: var(--primary-color);
    text-align: center;
    border: solid 1px var(--primary-color);
    font-weight: bold;
    padding: 5% 0;
}

#eksplorNow {
    background-color: var(--primary-color);
    width: 10%;
    text-align: center;
}

.roomInspiration {
    background-color: var(--primary-bg-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

.textInspiration {
    width: 30%;
}

.inspiration50 {
    font-weight: bold;
}

.ourDesain {
    color: var(--blur-text-product);
}

.roomCard {
    position: relative;
    width: 30%;
    display: flex;
}

.roomLabel {
    display: flex;
}

.roomName {
    position: absolute;
    top: 70%;
    left: 10%;
    background-color: var(--alte-bg-color);
    padding: 5%;
}

.nameRoom {
    color: var(--blur-text-colour);
    margin: 0;
}

.nameRoomPleace {
    font-size: x-large;
    font-weight: bold;
    margin: 0;
}

.roomArrow {
    position: absolute;
    top: 80%;
    right: 41%;
    background-color: var(--primary-color);
}

.imgInspiration {
    display: flex;
}

footer {
    margin: 2% 3%;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 2% 0;
}

.footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.footerFurniroText {
    font-weight: bold;
}

.footerMargin {
    margin: 0 0 1rem 0;
}

.blurTextFooter {
    color: var(--blur-text-colour);
}

.footerFurniro {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.formFooter {
    display: flex;
    gap: 1px;
}

.formFooter input {
    border: none;
    padding: 0;
}

.underline {
    padding: 0.05rem;
    background-color: black;
}